PORT=3005
SERVICE_NAME=Payment Service
NODE_ENV=development

PAYPAL_BASE_URL=https://api-m.sandbox.paypal.com
PAYPAL_CLIENT_ID=your_paypal_sandbox_client_id
PAYPAL_SECRET=your_paypal_sandbox_secret

LKR_TO_USD_RATE=0.0033
FRONTEND_BASE_URL=http://localhost:5173
