PORT=3006
SERVICE_NAME=Notification Service
NODE_ENV=development

SMTP_SERVICE=gmail
SMTP_USER=smartdoc360@gmail.com
SMTP_PASS=your_gmail_app_password
NOTIFICATION_FROM_EMAIL=smartdoc360@gmail.com

TWILIO_ACCOUNT_SID=your_twilio_account_sid
TWILIO_AUTH_TOKEN=your_twilio_auth_token
TWILIO_PHONE_NUMBER=+12602522813
